@import "tailwindcss";

.header-1 {
    font-size: 52px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header-2 {
    font-size: 24px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 22px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.panel {
    width: fit-content;
    height: fit-content;
    padding: 40px;
    padding-top: 22px;
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
}

.redirect-btn {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.redirect-btn:hover {
    color: rgb(80, 80, 80);
}

#previous {
    margin-top: 32px;
    padding-bottom: 4px;
    margin-right: 12px;
    height: max-content;
}

#next {
    margin-top: 32px;
    padding-bottom: 4px;
    margin-left: 12px;
    height: max-content;
}

.header-container {
    margin-bottom: 42px;
}

@layer components {
    .main {
        @apply flex flex-col items-center;
    }

    .footer {
        @apply flex items-center;
    }

    .footer-text {
        @apply text-xs font-sans;
    }

    .input {
        @apply block pt-5 px-3 w-full h-17 text-base bg-transparent border border-neutral-300 rounded-xl appearance-none;
    }

    .label {
        @apply absolute text-base mx-3 text-gray-500 duration-300 transform -translate-y-5 scale-75 top-7 z-10 origin-left;
    }

    .process-btn {
        @apply border-0 w-50 h-12 text-white text-xl font-sans font-medium bg-black rounded-3xl mt-5
    }

    .navbar {
        @apply flex w-200 justify-between
    }

    .link {
        @apply mt-6 w-fit py-1.25 px-6 border border-neutral-300 text-sm font-medium rounded-2xl;
    }
}